
@{
    ViewBag.Title = "_Layout";
}

<h2>_Layout</h2>

<div class="container body-content">
    @RenderSection("unNume")
    @RenderBody()

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Ciuhan Ana-Maria 5.12.2016</p>
    </footer>
</div>

